<?php include_once ('./templates/header.html'); ?>
	<div class="right">
		<h2>Step <?php echo $step;?> of 5 </h2>
		<h1><font color="red">恭喜您，安装成功！</font></h1>	 
		<div id="setupOK"> 
                     <div class="nr">
 
						<div class="ok1">
							<a href="http://<?php echo $domain ?>/admin.php" target="_blank" >进入后台管理</a> 
						</div>					
						<div class="ok2">
						<span>*</span>安装完毕请登录后台，更新缓存<br/>
						<span>*</span>默认yourphp管理员密码管理员密码相同<br/>
						<span>*</span>为了您站点的安全，安装完成后即可将网站根目录下的“Install”文件夹删除。</div>
                     </div>
                    </div>
                </div>
		</div>
	</div>
</div>
<div class="power">Powered by <a href="">Yourphp</a></div>
</div></div>
</body>
</html>
